* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: auto;
  width: 100%;
}

.form-title h3 {
  padding: 30px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 2rem;
  transform: translate(-50%, -50%);
  align-items: center;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin: 5px;
  font-size: 17px;
}

input,
textarea {
  padding: 1rem;
  border-radius: 5px;
  background: #c0c0c0;
  border: 1px solid #ccc;
  position: absolute;
  width: 350px;
  height: 31px;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateX(8%);
  padding: 0;
}
select {
  text-align: center;
}

option {
  text-align: center;
}

button[type="submit"] {
  background-color: #f02e24;
  color: #fff;
  padding: 8px;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transform: translate(90%, -50%);
  line-height: 21px;
  display: flex;
}

button[type="submit"]:hover {
  background-color: #f02e24;
}

button[type="submit"]:focus {
  outline: none;
}
.form-title1 h3 {
  padding-bottom: 47px;
  font-weight: bold;
}

.req-charging-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* updated value */
  grid-gap: 20px;
}
