* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  background-color: #ececec;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: auto;
  width: 100%;
}

.form-title h3 {
  padding: 30px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 2rem;
  transform: translate(-50%, -50%);
  align-items: center;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin: 5px;
  font-size: 17px;
}

input,
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  background: #c0c0c0;
  border: 1px solid #ccc;
  position: absolute;
  width: 350px;
  height: 31px;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
  display: inline-block;
}

.type-of-request select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #f02e24;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #f02e24;
}

button[type="submit"]:focus {
  outline: none;
}
.form-title1 h3 {
  padding-bottom: 47px;
  font-weight: bold;
}