@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins), sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ol,
ul {
  padding-left: 0rem !important;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #f02e24;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --fade-red: rgba(240, 46, 36, 0.63);
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.loader {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light);
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #f02e24 94%, #0000) top/16px 16px no-repeat, conic-gradient(#0000 30%, #f02e24);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--poppins);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

#sidebar.hide {
  width: 60px;
}

#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar .brand {
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  padding: 1.3rem 1.3rem 0rem 1.3rem;
  box-sizing: content-box;
  display: flex;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .icon {
  max-height: 40px;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu li a:hover {
  background-color: var(--grey);
  color: var(--dark);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar.hide .side-menu li a:hover {
  background-color: var(--grey);
  color: var(--dark);
}

#sidebar .side-menu.top li.active a {
  color: var(--red);
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu li a.logout:hover {
  color: var(--fade-red);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

#sidebar .side-menu.top ul {
  padding-left: 0rem;
}

/* Sidebar */
/*#endregion*/

/*#region*/
/* Content */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}

/* Content */
/*#endregion*/

/*#region*/
/* NavBar */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

#content nav .nav-link:hover {
  color: var(--red);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--red);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .notification {
  font-size: 20px;
  position: relative;
}

#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile View */
#content main .card-container {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 50%;
}

#content nav .profile {
  font-size: 1.5rem;
  display: flex;
  padding: 0rem 0rem 0rem 0rem;
}

#content nav .profile :hover {
  color: var(--red);
}

#content nav .profile .profile-icon {
  font-size: 2rem;
  padding: 0rem 0rem 0rem 0rem;
}

/* End of Profile View */

/* NavBar */
/*#endregion*/

/* MAIN */
#content main {
  width: 100%;
  padding: 10px 20px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

#content main .head-title {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: space-between;
  grid-gap: 24px;
  margin-top: 36px;
  justify-content: space-between;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--dark);
}

#content main .sorting-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: space-between;
  grid-gap: 24px;
  margin-top: 36px;
  justify-content: space-between;
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 24px;
  padding-bottom: 20px;
}

#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  grid-gap: 24px;
  flex-direction: row;
  justify-content: center;
}

#content main .box-info li .text h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark);
  text-align: center;
}

#content main .box-info li .text p {
  color: var(--dark);
  text-align: center;
}

#content main .box-info li:hover {
  transform: scale(1.05);
  border-top: 3px solid var(--red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#content main .card-container {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 50%;
}

#content main .profile-info {
  color: var(--dark);
}

#content main .profile-info h2 {
  font-size: 1.5rem;
  margin: 0rem 0rem 2rem 0rem;
}

#content main .profile-info p {
  font-size: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}

/* Calendar */
.weather-calendar-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.calendar-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: var(--lato), sans-serif;
  text-align: center;
}

.calendar-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-container .prev-button,
.calendar-container .next-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.calendar-container .prev-button:hover {
  color: var(--dark-grey);
}

.calendar-container .next-button:hover {
  color: var(--dark-grey);
}

.calendar-container .weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-container .weekdays div {
  width: calc(100% / 7);
  font-size: 14px;
}

.calendar-container .days {
  display: flex;
  flex-wrap: wrap;
}

.calendar-container .days div {
  width: calc(100% / 7);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.calendar-container .days div:hover {
  background-color: var(--fade-red);
}

.calendar-container .days .today {
  background-color: var(--red);
  color: var(--light);
  font-weight: 100;
}

/* End of Calendar */

/* Map */
#map-container {
  margin-top: 1rem;
}

#map-container a {
  background-color: var(--red);
  margin-top: 2rem;
}

/* End of Map */

/* Table */
.table-container {
  border-collapse: collapse;
  width: 100%;
}

table {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f3f3f3;
}

tr:nth-of-type(even) {
  background-color: #b8b8b8;
}

/* End of Table */

/* Service Request */
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 24rem;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
  background-color: #fff;
  font-weight: 600;
}

.critical-high {
  color: red;
}

.high {
  color: darkorange;
}

.mid {
  color: orange;
}

.low {
  color: green;
}

/* End of Service Request */

/* End of MAIN */

/* End of CONTENT */

/* Footer */

.bottom center {
  font-family: var(--lato);
  padding: 5px;
  font-size: 0.9375rem;
  background: var(--light);
}

.bottom center span {
  color: var(--red);
}

.bottom center a {
  color: var(--primarycolor3);
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

/* End of Footer */

/* Media Queries */
@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show~.notification,
  #content nav form.show~.profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }

  #content main .table-data .order table {
    min-width: 420px;
  }

  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  #sidebar {
    width: 250px;
  }

  #sidebar.brand {
    padding: 1rem 0rem 0rem 1.3rem;
  }

  #content {
    width: calc(100% - 250px);
    left: 250px;
  }

  #content nav .nav-link {
    display: block;
  }

  .profile-text {
    font-size: 1.5rem;
    padding: 1rem 0rem 0rem 0rem;
  }

  #content nav .nav-link {
    font-size: 1.2rem;
  }
}

/* Tablet Landscape */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #sidebar {
    width: 210px;
  }

  #content {
    width: calc(100% - 200px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }

  .profile-text {
    font-size: 1rem;
    padding: 0.5rem 0rem 0rem 0rem;
    display: block;
    /* Add this line */
  }

  .profile-icon {
    display: none;
  }

  img,
  svg {
    vertical-align: middle;
    width: 180px;
    padding: 0rem 0rem 0rem 0.5rem;
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  #sidebar {
    width: 0%;
  }

  #content {
    width: 100%;
    left: 0;
  }

  #content nav .nav-link {
    display: none;
  }

  .profile-text {
    font-size: 1rem;
    padding: 0.5rem 0rem 0rem 0rem;
    display: block;
    /* Add this line */
  }

  .profile-icon {
    display: none;
  }
}

/* Phone Landscape & Smaller */
@media screen and (max-width: 480px) {
  #sidebar {
    width: 0%;
  }

  #content {
    width: 100%;
    left: 0;
  }

  #content nav .nav-link {
    display: none;
  }

  .profile-icon {
    display: block;
    font-size: 2rem;
  }

  .profile-text {
    font-size: 1rem;
    padding: 0.5rem 0rem 0rem 0rem;
    display: none;
    /* Keep this line here */
  }

  img,
  svg {
    vertical-align: middle;
    width: 180px;
    padding: 0rem 0rem 0rem 0.5rem;
  }
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

select {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
}