@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #f02e24;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --fade-red: rgba(240, 46, 36, 0.63);
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.loader {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light);
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #f02e24 94%, #0000) top/16px 16px no-repeat, conic-gradient(#0000 30%, #f02e24);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

/* #region */
/* Tooltip CSS */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(92, 92, 92);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Tooltip CSS End */
/* #endregion */

/*#region*/
/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--poppins);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

#sidebar.hide {
  width: 60px;
}
#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar .brand {
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  padding: 1.3rem 1.3rem 0rem 1.3rem;
  box-sizing: content-box;
  display: flex;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .icon {
  max-height: 40px;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu li a:hover {
  background-color: var(--grey);
  color: var(--dark);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
#sidebar.hide .side-menu li a:hover {
  background-color: var(--grey);
  color: var(--dark);
}
#sidebar .side-menu.top li.active a {
  color: var(--red);
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}
#sidebar .side-menu li a.logout:hover {
  color: var(--fade-red);
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* Sidebar */
/*#endregion*/

/*#region*/
/* Content */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}
/* Content */
/*#endregion*/

/*#region*/
/* NavBar */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#content nav .nav-link:hover {
  color: var(--red);
}
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--red);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#content nav .notification {
  font-size: 20px;
  position: relative;
}
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content nav .profile {
  font-size: 1.5rem;
  display: flex;
  padding: 1rem 0rem 0rem 0rem;
}
#content nav .profile :hover {
  color: var(--red);
}
/* NavBar */
/*#endregion*/

/* MAIN */
#content main {
  width: 100%;
  padding: 10px 20px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
#content main .head-title {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
  justify-content: space-between;
}
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  color: var(--dark);
}
#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 24px;
  padding-bottom: 20px;
}
#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  grid-gap: 24px;
  flex-direction: row;
  justify-content: center;
}
#content main .box-info li .text h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark);
  text-align: center;
}
#content main .box-info li .text p {
  color: var(--dark);
  text-align: center;
}
#content main .box-info li:hover {
  transform: scale(1.05);
  border-top: 3px solid var(--red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#content main .card-container {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 50%;
}

#content main .profile-info {
  color: var(--dark);
}

#content main .profile-info h2 {
  font-size: 1.5rem;
  margin: 0rem 0rem 2rem 0rem;
}

#content main .profile-info p {
  font-size: 1rem;
  margin: 1rem 0rem 1rem 0rem;
}
/* MAIN */
/* Footer */

.bottom center {
  font-family: var(--lato);
  padding: 5px;
  font-size: 0.9375rem;
  background: var(--light);
}
.bottom center span {
  color: var(--red);
}
.bottom center a {
  color: var(--primarycolor3);
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

/* End of Footer */

/* Media Queries */
@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }
  #content main .table-data .order table {
    min-width: 420px;
  }
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}

/*#region*/
/* Service Request Form */

.hide {
  display: none;
}

#content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  margin: auto;
  width: 100%;
}

.form-title h3 {
  padding: 1rem;
  font-weight: 600;
}

.form-title p {
  color: var(--dark-grey);
}

.form-group {
  margin-bottom: 1rem;
  width: -webkit-fill-available;
  background-color: var(--light);
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
}

input[type="text"],
input[type="date"],
textarea,
select {
  padding: 1rem;
  border-radius: 5px;
  background: var(--grey);
  border: 1px solid var(--light-yellow);
  width: 100%;
  font-size: 1rem;
}

button[type="submit"] {
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: var(--red);
  font-size: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  width: -webkit-fill-available;
}

@media only screen and (min-width: 768px) {
  form {
    max-width: 768px;
    margin: auto;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: auto;
  }

  input[type="text"],
  input[type="date"],
  textarea,
  select {
    width: 350px;
  }

  button[type="submit"] {
    display: inline-block;
    width: calc(50% - 0.5rem);
    /* subtract margin from width */
    vertical-align: top;
    background-color: var(--red) !important;
  }
}

button {
  display: inline-block;
  width: calc(50% - 0.5rem);
  /* subtract margin from width */
  vertical-align: top;
  background-color: #f02e24 !important;
}

/* Service Request Form */
/*#endregion*/
